<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!--ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header-->


  <ion-item>
    <ion-grid class="profile-intro">
      <ion-row>
        <ion-col col-4>

          <ion-card-header>
            <ion-card-title>

              <ion-avatar>
                <img
                  src="https://2.bp.blogspot.com/-NFPHtrzgd34/U4EYFon-q6I/AAAAAAAACwM/BwqLtQ-VdSE/s1600/peter-peter-parker-23094911-496-585.jpg">
              </ion-avatar>

            </ion-card-title>
            <ion-card-subtitle color="dark">Peter Parker</ion-card-subtitle>
            <ion-card-subtitle>With great power comes great responsibility</ion-card-subtitle>
          </ion-card-header>
        </ion-col>

        <ion-col col-8>

          <div class="profile-info">
            <div class="post-count info-square">
              <p>
                <strong>1</strong><br>
                post
              </p>
            </div>
            <div class="follower-count info-square">
              <p>
                <strong>1532</strong><br>
                followers
              </p>
            </div>
            <div class="following-count info-square">
              <p>
                <strong>200</strong><br>
                following
              </p>
            </div>
          </div>
          <div>
            <ion-button class="follow-button" color="dark">Follow</ion-button>
          </div>
        </ion-col>
      </ion-row>

    </ion-grid>
  </ion-item>


  <ion-segment [(ngModel)]="galleryType" color="dark">
    <ion-segment-button value="regular">
      <ion-icon name="grid"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="pinterest">
      <ion-icon name="globe"></ion-icon>
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="galleryType">

    <!-- Responsive Layout with Ion Grid-->
    <ion-grid *ngSwitchCase="'regular'">
      <ion-row>
        <ion-col size=6 size-sm *ngFor="let image of [1,2,3,4,5,1,2,3,4,5]">
          <div class="image-container" [style.background-image]="'url(assets/img/' + image + '.jpg)'"></div>
        </ion-col>
      </ion-row>
    </ion-grid>


    <!-- More Pinterest floating gallery style -->
  </div>
</ion-content>